<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if current_user %>
  <h1>Welcome <%= current_user.username %>!</h1>
  <%= link_to "Log out", logout_path %>
  <%= link_to "Edit profile", edit_user_path(current_user) %>
<% else %>
  <%= link_to "Sing up", signup_path %>
  <%= link_to "Log in", login_path %>
<% end %>

<p id=”notice”><%= notice %></p>
<hr>

<%= yield %>

</body>
</html>
